


header {
 background-color:rgb(253, 51, 209);
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display:flex;
  justify-content:space-between;
}
img{
  width:170px;
  height:100px;
}
h1 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 20px;
}
p{
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}
.navbar {
  margin-top: 10px;
  text-align: right;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li {
  display: inline-block;
  margin-right: 25px;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.navbar a:hover {
  background-color: #ffb3f9;
  color: #120d03;
}

/* Estilos para o rodapé */
/* Estilos para o rodapé */
footer {
  background-color: #ff52bf;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px black;
}

.DivPrinc {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.div1 {
  flex: 1;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

footer div p strong {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

footer div ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

footer div ul li {
  margin-bottom: 10px;
}

footer div ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

footer div ul li a:hover {
  text-decoration: underline;
}

footer div p {
  margin-bottom: 15px;
}

.ul2 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul2 li {
  margin-right: 10px;
}

.ul2 img {
  width: 40px;
  height: 40px;
}


  

  